@model Cold_Storage_Unit.Models.LoginViewModel

@using (Html.BeginForm(Model.Username == null ? "Register" : "Edit", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Surname)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
}
